.introduction-content{
    padding-bottom:500px;
}

.video-part{
    position:absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}
.intro-main-part{
    z-index: 10;
    transform: rotate(0deg);
    width: 700px;
    padding-top: 20vh;
    margin-left: 300px;
}
.intro-header{
    font-family: montserrat,sans-serif;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -.01em;
    font-size: 3.125rem;
    color: white;
    text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 4px #000;
}
.intro-description{
    font-size: 1.375rem;
    font-weight: 200;
    font-family: inter,sans-serif;
    line-height: 2rem;
    color: white;
    margin: auto;
    margin-top: 20px;
    text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 4px #000;
}
.intro-button-part{
    margin-top: 30px;
}
.preview-button{
    background-color: rgba(102,152,154);
    color: white;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 0.25rem;
    border: none;
}
.preview-button:hover{
    background-color: rgb(152, 189, 190);
}
.get-button{
    color: rgb(52,121,125);
    background-color: white;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 0.25rem;
    border: none;
    margin-left: 20px;
}
.get-button:hover{
    background-color: rgb(219, 217, 217);
}
@media only screen and (max-width: 1199px) {
    .intro-main-part{
        margin-left: 100px;
    }
}
@media only screen and (max-width: 799px) {
    .introduction-content{
        padding-bottom:350px;
    }
    .intro-main-part{
        margin-left: 20px;
        width: 450px;
    }
    .intro-header{
        font-size: 2.5rem;
    }
    .intro-description{
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 499px) {
    .intro-main-part{
        margin-left: 20px;
        width: 330px;
    }
    .intro-header{
        font-size: 2rem;
        line-height: 1.1;
    }
    .intro-description{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .intro-button-part{
        margin-top: 40px;
    }
    .get-button{
        margin-left: 0;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 359px) {
    .intro-main-part{
        margin-left: 20px;
        width: 250px;
    }
    .intro-header{
        font-size: 1.5rem;
        line-height: 1.1;
    }
    .intro-description{
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    .intro-button-part{
        margin-top: 40px;
    }
    .get-button{
        margin-left: 0;
        margin-top: 20px;
    }
    .preview-button{
        font-size: 15px;
    }
    .get-button{
        font-size: 15px;
    }
}