.showcase-header{
    font-family: montserrat,sans-serif;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -.01em;
    font-size: 3.125rem;
    text-align: center;
    color: black;
}
.gallery-part{
    display: flex;
    padding: 50px 200px;
}
.individual-gallery-part{
    width: 33%;
    padding: 0px 30px;
}
.gallery-img{
    width: 100%;
    height: auto;
}
.gallery-description{
    font-size: 1.375rem;
    font-weight: 200;
    font-family: inter,sans-serif;
    line-height: 2rem;
    color: black;
    margin: auto;
    margin-top: 20px;
    text-shadow: 0 0 1px grey, 0 0 2px grey, 0 0 4px grey;
    text-align: center;
}
.gallery-select-part{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1599px) {
    .gallery-part{
        display: flex;
        padding: 50px 100px;
    }
}
@media only screen and (max-width: 1199px) {
    .gallery-part{
        display: flex;
        padding: 50px 50px;
    }
    .individual-gallery-part{
        width: 33%;
        padding: 0px 10px;
    }
    .gallery-description{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 799px) {
    .showcase-header{
        font-size: 2.5rem;
    }
    .gallery-part{
        display: block;
        padding: 50px 20px;
        padding-top: 10px;
    }
    .individual-gallery-part{
        width: 100%;
        padding: 0px 10px;
        margin-top: 50px;
    }
    .gallery-description{
        font-size: 1rem;
    }
}