.showcase-header{
    font-family: montserrat,sans-serif;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -.01em;
    font-size: 3.125rem;
    text-align: center;
    color: black;
}
.main-slide-part{
    width: 98%;
    margin: auto;
}
.gallery-description{
    font-size: 1.375rem;
    font-weight: 200;
    font-family: inter,sans-serif;
    line-height: 2rem;
    color: black;
    margin: auto;
    margin-top: 40px;
    text-shadow: 0 0 1px grey, 0 0 2px grey, 0 0 4px grey;
    text-align: center;
}
.thumbs-wrapper{
    display: none
}
.legend{
    background-color: rgba(0,0,0,.5)!important;
    font-family: inter,sans-serif!important;
    font-size: 1.375rem!important;
}

@media only screen and (max-width: 799px) {
}